@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
   font-style: normal;
   text-transform: capitalize;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

.container {
   max-width: 1320px;
   margin: 0 auto;
}

.btn {
   background-color: #029FAE;
   padding: 12px 24px;
   color: #fff;
   border-radius: 8px;
   text-transform: capitalize;
   border: none;
   font-size: 16px;
   font-weight: 600;

   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}

.navbar {
   background: #fff;
   border-bottom: 1px solid #E1E3E5;
   padding: 14px 0;
}

.navbar__content {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.dropdown-menu__label {
   display: none;
   padding: 6px;
}

.dropdown-menu__label i {
   font-size: 24px;
}

.dropdown-menu__content {
   display: flex;
   gap: 32px;
}

.navbar__link {
   color: #636270;
   font-size: 14px;
   font-weight: 500;
}

.navbar__link-active {
   color: #007580;
}

.navbar__contact span {
   color: #636270;
   font-size: 14px;
}

.navbar__contact a {
   color: #272343;
   font-size: 14px;
   font-weight: 500;
}

.header {
   background-color: #F0F2F3;
   max-width: 1740px;
   margin: 0 auto;
   border-radius: 0 0 48px 48px;
   margin-top: 20px;
   overflow: hidden;
}

.header__content {
   display: flex;
   min-height: 810px;
}

.header__title {
   font-size: calc(30px + (64 - 30) * ((100vw - 275px) / 1900));
}

.header__left {
   align-self: center;
    max-width: 631px;
    position: relative;
    z-index: 2;
}

.header__left p {
   color: #272343;
   font-size: 14px;
   letter-spacing: 1.70px;
   text-transform: uppercase;
}

.header__left h1 {
   color: #272343;
   /* font-size: calc(40px + (68 - 40) * ((100vw - 375px) / 1900)); */
   font-weight: 700;
   text-transform: capitalize;
   line-height: 75px;
   margin: 8px 0 24px 0;
}

.header__right {
   align-self: center;
   flex-grow: 1;
   padding: 0 45px;
}

.gallery {
   max-width: 475px;
   margin: 0 auto;
   position: relative;
}

.gallery::before {
   content: "";
   width: 647px;
   height: 647px;
   background-color: #dcdcdc;
   border-radius: 50%;
   position: absolute;
   top: -170px;
   right: -100px;
}

.gallery img {
   width: 100%;
   display: block;
   position: relative;
}

.gallery__sale {
   background-color: #fff;
   padding: 30px 20px;
   border-radius: 50px 70px 50px 70px;
   display: flex;
   position: absolute;
   right: -40px;
   top: 0;
}

.gallery__sale>div {
   margin: auto;
   text-align: center;
}

.gallery__sale>div h6 {
   color: #F05C52;
   /* font-size: 36px; */
   font-size: calc(18px + (36 - 18) * ((100vw - 375px) / 1900));
   font-weight: 700;
   text-transform: capitalize;
}

.gallery__sale>div span {
   color: #272343;
   font-size: 14px;
   font-weight: 500;
   letter-spacing: 0.30px;
}

.info {
   padding: 50px 70px;
   gap: 25px;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   background-color: #fff;
   border-radius: 12px;
   position: relative;
   bottom: 70px;
}

.info .item {
   display: flex;
   gap: 16px;
   align-items: center;
}

.partners-container  {
   padding: 20px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.partners-container .products__item {
   display: flex;
   gap: 26px;
   align-items: center;
}

/* ------------------ */ 

.featured-products-container {
   padding-bottom: 80px;
}

.featured-products-container > h3 {
   font-size: calc(15px + (64 - 15) * ((100vw - 275px) / 1900));
   padding-top: 70px;
   padding-bottom: 50px;
   color: #272343;
   /* font-size: 32px; */
   font-weight: 600;
   line-height: 110%;
}

.flex_products__item > img {
   width: 100%;
}

.flex_products__item  {
   position: relative;
}

.price {
   color:#272343;
   font-size: 18px;
   font-weight: 600;
   line-height: 110%;
   padding-top: 10px;
}

.price > span {
   color:#9A9CAA;
   font-size: 14px;
   font-weight: 400;
   line-height: 110%;
   text-decoration-line: line-through;
}

.active_paragraph {
   color: #272343;
   font-size: 16px;
   font-weight: 400;
   line-height: 130%;
}

.active_paragraph:hover {
   color: #007580;
}

.add_to_card {
   width: 44px;
   height: 44px;
   position: absolute;
   right: 0;
   bottom: 0;
   cursor: pointer;
   padding-top: 17px;
   padding-bottom: 40px;
} 

.add_to_card div {
   background-color: #F0F2F3;
   border-radius: 8px;
   padding: 10px;
   
}

.add_to_card  div:hover {
   background: #029FAE;
}

.new {
   position: absolute;
   top: 0;
   padding: 20px;
}

.heart {
   position: absolute;
   top: 0;
   right: 0;
   padding: 20px;
}

.sales {
   position: absolute;
   top: 0;
   padding: 20px;
}

.featured__container {
   display: flex;
   gap: 24px;
}

/* ----------------------------- */

.top-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 24px;
}

.top-products-container > h3 {
   font-size: calc(15px + (64 - 15) * ((100vw - 275px) / 1900));
   padding-top: 70px;
   padding-bottom: 50px;
   color: #272343;
   /* font-size: 32px; */
   font-weight: 600;
   line-height: 110%;
}

.grid_products__item > img {
   width: 100%;
}

#name {
   font-size: 20px;
   font-weight: 600;
   line-height: 110%;
}

#number {
   font-size: 14px;
   font-weight: 400;
   line-height: 110%;
}

.background {
   position: relative;
   bottom: 90px;
   display: flex;
   padding: 20px;
   flex-direction: column;
   gap: 8px;
   border-radius: 14px;
}

.background:hover {
   color: #fff;
   border-radius: 0px 0px 10px 10px;
   background: rgba(0, 0, 0, 0.70);
   cursor: pointer;
}

.our__container img {
   width: 100%;
}


/* ----------------- */

.our-products-container > h3 {
   font-size: calc(15px + (64 - 15) * ((100vw - 275px) / 1900));
   color:#272343;
   /* font-size: 32px; */
   font-weight: 600;
   line-height: 110%;
}

.second_navbar {
   padding-top: 16px;
   padding-bottom: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
   font-family: DM Sans;
   font-size: 20px;
   font-weight: 500;
   line-height: 110%;
   letter-spacing: 0.8px;
   text-transform: uppercase;
}

#gray {
   padding: 8px;
   color:#9A9CAA;
   text-align: center;
}

.black {
   color: #272343;
}

.text-decoration {
   padding: 8px;
   color:#272343;
   text-align: center;
}

.text-decoration:hover {
   background:#FFF;
   box-shadow: 0px 2px 0px 0px #038053;
   
}

.our__container {
   display: grid;
   gap: 40px; 
   margin-top: 20px;
   grid-template-columns: repeat(4, 1fr);
   padding-bottom: 50px;
}

.our__container .grid__item {
   /* align-items: center; */
   position: relative;
   
  }

  .grid__item  {
   position: relative;
  } 

  .our__container img {
   max-width: 100%;
   height: auto;
  }



@media (max-width:1024px) {

   .header__content {
      flex-direction: column-reverse;
      padding: 40px 15px;
   }

   .header__left h1 {
      line-height: normal;
   }


}

@media (max-width:768px) {
   .info{
      position: inherit;
      padding: 0;
      /* margin: 20px 15px; */
   }
   .info .item{
      flex-direction: column;
      align-items: center;
   }

   .partners-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0 80px 0 80px;
   }

   #id1 {
      grid-column: 1/3;
   }

   .partners__item {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .featured__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 40px 15px;
   }

   .our__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }

}

@media (max-width: 576px) {
   .navbar {
      padding: 15px;
   }

   .dropdown-menu__label {
      display: block;
   }

   .dropdown-menu__content {
      display: none;
      flex-direction: column;
      position: absolute;
      background: #fff;
      padding: 20px;
      min-width: 200px;
      z-index: 2;
   }

   .dropdown-menu:hover .dropdown-menu__content {
      display: flex;
   }

   .header {
      border-radius: 0 20px 0 20px;
   }

   .header__content {
      min-height: auto;
      gap: 20px;
   }

   .gallery__sale {
      padding: 20px 15px;
   }

   .partners-container {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .featured__container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding: 40px 15px;
      display: flex;
      align-items: center;
      flex-direction: column;
   }

   .top-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding: 40px 50px;
   }

   .our__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 40px 15px;
      display: flex;
      align-items: center;
      flex-direction: column;
   }
}